
#appFrame1 {
	width: 600px;
	height: 220px;
	background: #ffffcc;  
	position: relative;
	overflow: hidden;
	text-align: center;
}

#appFrame1 > * {
	-webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

}

#coreStrip {
	background: #cff;
	position:absolute;
	top: 0;
}

#userGraph1 {
	background: #fff;
	position: absolute;
}

#overlay {
	position:absolute;
	left: 0;
	top: 0;
}

input[type="button"] {
 	background: #DADADA;
 	border: outset #DADADA 2px;
 	position: absolute;
}
input {
	font-family: "helvetica";
}

input:focus {
	outline:none;


}