div {display: block; margin: 0 auto; position: absolute;}
canvas {display: block; margin: auto;}
form {
	background: #fff;
	position: absolute;
	display:inline;
	width:100px;
	height:120px;
}
input[type="button"] {
 
}
#panel {
	background: #fff;
	position: relative;
	margin: auto;
}	
#appFrame {
	width: 760px;
	height: 510px;
	background: #ffcc99; 
	border: 1px solid black;
	position: relative;
	overflow: hidden;
}
#userGraph {
	background: #fff;
	position: absolute;
}
#masterGraph {
	background: #fff;
	position: absolute;
}
#coreStrip {
	background: #cff;
	position:absolute;
}
#answerBox {
	background: #ffcc99;
	position:absolute;
	border: 1px solid black;
	width:295px;
	height:118px;
	left:10px;
	top:127px;
}
.centerMark{
	background:#00f;
	position:absolute;
	width: 3px;
	height: 10px;
	left: 378px;
}